<html> 
<style>
  #myTextBox1 { margin-left: 40px; }
 </style> 
<body> 
    <h3>Sports Prediction Form</h3> 

<div> 
  <form action="/result" method="POST"> 
    <label for="Gender">Gender</label> 
    <select id="myTextBox1" name="Gender"> 
      <option value="0">Male</option> 
      <option value="1">Female</option>  
    </select> 
    <br> 
    <label for="Lower Limb Flexibility">Flexibility </label> 
    <input type="text" id="Lower Limb Flexibility" name="Lower Limb Flexibility">btw:[-20-27] 
    <br> 
    <label for="Lower Limb Power">Lower Limb Power</label> 
    <input type="text" id="Lower Limb Power" name="Lower Limb Power">btw:[0-60] 
    <br> 
    <label for="Upper Limb Endurance">Upper Limb Endurance </label> 
    <input type="text" id="Upper Limb Endurance" name="Upper Limb Endurance">btw:[1-70] 
    <br>
	<label for="Lower Limb Endurance">Lower Limb Endurance </label> 
    <input type="text" id="Lower Limb Endurance" name="Lower Limb Endurance">btw:[1-70] 
    <br> 
	<label for="Core Endurance">Core Endurance </label> 
    <input type="text" id="Core Endurance" name="Core Endurance">btw:[1-45] 
    <br> 
    <label for="Speed">Speed </label> 
    <input type="text" id="Speed" name="Speed">btw:[1-10] 
    <br> 
    <label for="Agility">Agility </label> 
    <input type="text" id="Agility" name="Agility">btw:[1-20] 
    <br> 
	<label for="Yo Yo Level">Yo Yo Level </label> 
    <input type="text" id="Yo Yo Level" name="Yo Yo Level">btw:[1-24] 
    <br> 
    
    
    	
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html> 
